:root {
  --main-radius: 4px;
  --fav-color: #00aaff;
  --choosen-color: #00aaff;
  --mode-color: #fff;
  --alt-mode-color: #000;
  --hover-color: #f6f6f6;
  --sec-mode-color: #eee;
  --progess: attr(data-progress);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-decoration: none;
}

*:not(.task-content) {
  user-select: none;
}

::selection {
  color: var(--alt-mode-color);
  background-color: var(--fav-color);
}

::-moz-selection {
  color: var(--alt-mode-color);
  background-color: var(--fav-color);
}

.task-content {
  user-select: auto;
}

.container {
  min-width: 100vw;
  width: 100%;
  height: 100vh;
  min-height: 670px;
  background-color: var(--sec-mode-color);
  position: relative;
  overflow: hidden;
}

.header {
  background-color: var(--mode-color);
  display: flex;
  justify-content: space-between;
  padding: 15px;
  z-index: 100;
}

.rtl .header {
  flex-direction: row-reverse;
}

.header h1 {
  font-size: 30px;
  font-weight: bold;
  color: var(--alt-mode-color);
}

.header h1::first-letter {
  color: var(--fav-color);
}

.header .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  right: 0;
}

.rtl .header .menu {
  flex-direction: row-reverse;
}

.header .menu .icons {
  display: flex;
  justify-content: space-between; 
  margin-right: 10px;
}

.rtl .header .menu .icons {
  margin-right: 0;
  margin-left: 10px;
}

.header .menu .icons i {
  font-size: 25px;
  padding: 0 10px;
  color: var(--alt-mode-color);
}

.header .menu #button {
  border-radius: 50%;
  border: 3px solid transparent;
  outline: 3px solid transparent;
  background-color: var(--sec-mode-color);
  overflow: hidden;
}

.header .menu #button.clicked {
  border: 3px solid var(--mode-color);
  outline: 3px solid var(--sec-mode-color);
}

.header .menu .setting-container {
  position: relative;
}

.header .menu .list,
.header .menu .setting-list {
  position: absolute;
  padding: 10px;
  background-color: var(--mode-color);
  transition: 0.5s;
  border-radius: 4px;
  z-index: 1;
  color: var(--alt-mode-color);
  box-shadow: 0px 10px 10px -3px #444;
}

.header .menu .list {
  width: 175px;
  top: calc(100% + 25px);
  right: 5px;
}
.header .menu .setting-list {
  width: 190px;
  top: calc(100% + 25px);
  right: 20px;
}

.rtl .header .menu .list {
  left: 5px;
}
.rtl .header .menu .setting-list {
  left: 20px;
}

.hide {
  transform: translateX(-400%);
  opacity: 0;
  z-index: -1;
}

.rtl .hide {
  transform: translateX(400%) !important;
  position: absolute;
}

.header .menu .list::before,
.header .menu .setting-list::before {
  content: "";
  position: absolute;
  right: 5px;
  top: -19px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent var(--mode-color) transparent;
}

.rtl .header .menu .list::before,
.rtl .header .menu .setting-list::before {
  left: 5px;
  right: 100%;
}
 
.header .menu .list > li {
  font-weight: 600;
  padding: 8px;
}

.tasks .tasks-list li .options span:hover,
.header .menu .list li:hover,
.header .menu .list a:hover {
  background-color: var(--hover-color);
  border-radius: var(--main-radius);
}

/* Language */
.header .menu .language {
  color: var(--alt-mode-color);
  width: 100%;
}


/* Mode */
#mode {
  display: inline-flex;
  width: 50px;
  height: 20px;
  margin: 0 3px;
  background-color: var(--sec-mode-color);
  transform: translateY(2px);
  border-radius: 10px;
  align-items: center;
  justify-content: flex-end;
}

.rtl #mode {
  flex-direction: row-reverse;
}

#mode span {
  width: 15px;
  height: 15px;
  background-color: var(--alt-mode-color);
  border-radius: 50%;
  margin: 0 5px;
  transition: 1s;
}

#mode.dark {
  justify-content: flex-start;
}

.header .menu .setting-list .colors-list {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
}

.header .menu .setting-list .colors-list li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid inherit;
  bottom: 20px;
  outline: 3px solid inherit;
}

.header .menu .setting-list .colors-list li.active {
  outline-width: 3px;
  outline-style: solid;
  border: 3px solid var(--sec-mode-color);
}

#image {
  width: 4px;
  display: none;
}

.setting-list > li,
.setting-list > a {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  width: 100%;
}

input[type="file"],
input[type="color"] {
  display: none;
}

.header .menu .colors-list li:nth-child(1) {
  background-color: #00aaff;
  outline-color: #00aaff;
}
.header .menu .colors-list li:nth-child(2) {
  background-color: #ff0000;
  outline-color: #ff0000;
}
.header .menu .colors-list li:nth-child(3) {
  background-color: #ff5500;
  outline-color: #ff5500;
}
.header .menu .colors-list li:nth-child(4) {
  background-color: #aa00ff;
  outline-color: #aa00ff;
}
.header .menu .colors-list li:nth-child(5) {
  background-color: var(--mode-color);
  outline-color: var(--alt-mode-color);
  outline-width: 3px;
  outline-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .menu .colors-list li:nth-child(5) label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.special-icon {
  color: var(--alt-mode-color);
  font-size: 17px;
  margin-right: 10px;
}

.progress-circle {
  position: relative;
  background-color: #000;
  width: 110px;
  height: 110px;
  margin: 20px auto -40px;
  border-radius: 50%;
  background-color: var(--mode-color);
}
.progress-circle::before {
  content: var(--progess) "%";
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  padding: 14px;
  background-color: var(--sec-mode-color);
  color: var(--alt-mode-color);
  font-weight: bold;
  font-size: 16px;
}
.tasks {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  width: 86%;
  height: 300px;
  margin: 0 auto;
  transform: translateY(45px);
  border-radius: var(--main-radius);
}

.tasks .input-box {
  display: flex;
  width: 100%;
  background-color: var(--mode-color);
  align-items: center;
  border-radius: var(--main-radius);
}

.rtl .tasks .input-box {
  flex-direction: row-reverse;
}

.tasks .checkbox,
.tasks .tasks-list li .icon {
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  background-color: var(--mode-color);
  position: relative;
  border-radius: var(--main-radius);
}
.tasks .checkbox {
  margin-left: 15px;
  margin-right: 30px;
  border: 2px solid var(--choosen-color);
  color: var(--choosen-color);
}

.tasks .checkbox:hover::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 50%;
  height: calc(100% + 10px);
  width: calc(100% + 40px);
  transform: translateY(-50%);
  border-radius: 10px;
  background-color: var(--sec-mode-color);
  opacity: 0.5;
  color: var(--alt-mode-color);
}

.tasks .checkbox:hover::after {
  content: "v";
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--alt-mode-color);
  width: auto;
  height: auto;
}

.tasks .input-box > input {
  border: none;
  outline: none;
  padding: 10px;
  background-color: var(--mode-color);
  border-radius: var(--main-radius);
  caret-color: var(--fav-color);
  width: 100%;
  color: var(--alt-mode-color);
  font-size: 15px;
}
.tasks .input-box input:focus::placeholder {
  opacity: 0;
  transition: 0.5s;
}

.tasks .tasks-list {
  margin-top: 20px;
  width: 100%;
  background-color: var(--mode-color);
  border-radius: var(--main-radius);
  min-height: 300px;
  overflow-y: auto;
}

.tasks .tasks-list > li {
  padding: 12px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--sec-mode-color);
  width: 100%;
  align-items: center;
}

.tasks .tasks-list > li.dragging {
  opacity: .5;
}

.tasks .tasks-list > li.over {
  border: 2px solid var(--fav-color);
}

.rtl .tasks .tasks-list > li {
  flex-direction: row-reverse;
}



.rtl .tasks .tasks-list > li p {
  text-align: right;
  margin-right: 5px;
}

.tasks .tasks-list li .icon {
  margin-right: 10px;
  margin-left: 5px;
}

.tasks .tasks-list [data-status="completed"] .icon {
  background-color: currentColor;
  position: relative;
}

.tasks .tasks-list [data-status="completed"] .icon::before {
  content: "✓";
  position: absolute;
  color: var(--mode-color);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* scrollbar customization */

::-webkit-scrollbar  { 
  width: 0;
}

  .tasks .tasks-list li p {
  width: 75%;
  overflow-x: scroll;
  color: var(--alt-mode-color);
}
.tasks .tasks-list li .options span {
  display: block;
  height: fit-content;
  transform: rotate(90deg);
  padding: 5px;
  color: var(--alt-mode-color);
}

.tasks .tasks-list li .options {
  position: relative;
}
.tasks .tasks-list li .options-list {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  background-color: var(--mode-color);
  padding: 10px;
  box-shadow: -2px 2px 5px 12px var(--sec-mode-color);
  border-radius: var(--main-radius);
  transition: 0.5s;
  z-index: 100;
  opacity: 1;
}
.rtl .tasks .tasks-list li .options-list {
  left: 37px;
  width: fit-content;
}

.tasks .tasks-list li:nth-child(1) .options-list {
  transform: translateY(-15px);
}

.tasks .tasks-list li:last-of-type .options-list {
  transform: translateY(-65px);
}
.tasks .tasks-list li:last-of-type .options-list::before {

  transform: translateY(15px);
}

.tasks .tasks-list li .hide {
  display: none;
}

.tasks .tasks-list li .options-list::before {
  content: "";
  position: absolute;
  right: -20px;
  top: 50%;
  border-width: 10px;
  transform: translateY(-50%);
  border-style: solid;
  border-color: transparent transparent transparent var(--mode-color);
}

.rtl .tasks .tasks-list li .options-list::before {
  right: auto;
  left: -20px;
  border-color: transparent var(--mode-color) transparent transparent ;
}

.tasks .tasks-list li:nth-child(1) .options-list::before {
  transform: translateY(0);
  top: 7px;
}

.tasks .tasks-list li .options-list li {
  display: flex;
  align-items: center;
  padding: 5px;
  width: 150px;
  border-radius: var(--main-radius);
  height: fit-content;
  height: 30px;
}

.tasks .tasks-list li .options-list li i {  
  margin-bottom: 5px;
}

.rtl .tasks .tasks-list li .options-list li {
  flex-direction: row-reverse;
  align-items: center;
}

.tasks .tasks-list li .options-list li:hover {
  background-color: var(--sec-mode-color);
}

.tasks .tasks-list li .options-list li p {
  color: var(--alt-mode-color);
  width: fit-content;
  margin-left: 5px;
}

.rtl .tasks .tasks-list li .options-list li p {
  text-align: right;
  margin-right: 10px;
  margin-left: 0;
}

.tasks .tasks-list li .options-list li i {
  margin-right: 5px;
  color: var(--alt-mode-color);
  margin-top: 3px;
}

.conc {
  position: absolute;
  bottom: 20px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  width: 100%;
  color: var(--alt-mode-color);
}
.conc span,
.conc a {
  color: var(--fav-color);
  text-decoration: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  width: calc(86% - 40px);
  margin: 0 auto;
  transform: translateY(120px);
  background-color: var(--mode-color);
  border-radius: var(--main-radius);
}

.rtl .footer {
  flex-direction: row-reverse;
}

.footer li {
  text-align: center;
  font-weight: 800;
  font-size: 12px;
  color: var(--alt-mode-color);
}
.footer li.active {
  color: var(--fav-color);
}
